<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="../assetscss/unidad1.css" />
</head>
<body>

  <h1>{{ page.title }}</h1>

  {{ content }}

  <footer class="license">
   
    © 2025 Vlad Bobu  
    <br/>
    Este curso se distribuye bajo la licencia
    <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/es/">Creative Commons BY-NC-SA 4.0 ES</a>
    <br/>
    <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/es/">
      <img src="https://github.com/user-attachments/assets/e68ef92e-e009-49d0-b935-2659397a86c8" alt="Licencia CC BY-NC-SA 4.0 ES" />
    </a>
  </footer>

</body>
</html>
